

.underline-div {
    border-bottom: 1px solid #aaa;
}

.button-margin-xrem {
    margin-bottom: 1rem;
}

.my-account-lables {
    font-weight: 700;
    font-size: 1rem;
    margin-right: .5rem;
}

.account-heading {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: .5rem;
}

.hover-grey:hover {
    color: #c9c7c7;
    cursor: pointer;
}