.yourAssetsNameColumn {
    display: flex;
    /* justify-content: space-between; */
}

.yourAssetsImg {
    margin-right: 1rem;
}

.yourAssetsName {
    font-weight: 700;
    margin-top: .5rem;
    margin-right: 1rem;
}

.yourAssetsSymbol {
    margin-top: .5rem;
    color: #a3a7ad;
}